@import 'variables.scss';
@import 'mixins.scss';
@import 'animations.scss';

.form {
    position: relative;

    input, select {
        @include border;

        outline: none;
        width: 100%;
        height: 40px;
        padding: 0 $spacing;
        border-radius: $border-radius;
        font-size: $font-size-medium;
        outline: none;
        position: relative;
    }

    .focus {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        background-color: $primary-background-lighter;
        transform-origin: center;
        transform: scale(0, 1);
        transition: transform $duration-medium ease-in-out;
    }

    &.focused .focus {
        transform: scale(1, 1);
    }

    label {
        width: 100%;
        font-size: $font-size-smaller;
        color: $tertiary-font-colour;
        text-transform: uppercase;
        margin-bottom: 5px;
        display: inline-block;
    }

    .form-error-icon-wrapper {
        position: absolute;
        right: 2px;
        bottom: -2px;
        padding: 7px;

        .form-error-icon {
            cursor: default;
            color: $primary-background;
            pointer-events: none;
            opacity: 0;
            transition: opacity $duration-medium linear;
        }
    }

    &.has-error .form-error-icon {
        opacity: 1;
        pointer-events: auto;
    }
}

.button {
    @include border-radius;
    @include centre-vertically(40px);
    border: none;
    width: 100%;
    text-align: center;
    font-family: $primary-font;
    font-size: $font-size-medium;
    cursor: pointer;
    transition: background-color $duration-fast linear;
    outline: none;
    position: relative;
    overflow: hidden;

    .label, .loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: transform $duration-medium ease-in-out;
    }

    .loader {
        transform: translate3d(-100%, 0, 0);

        >div {
            margin: auto;
            border-radius: 50%;
            border: solid 2px white;
            border-bottom-color: transparent;
            width: 20px;
            height: 20px;
            margin-top: 10px;
            animation-name: spin;
            animation-duration: $duration-animation;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }

    &.loading {
        .label {
            transform: translate3d(100%, 0, 0);
        }

        .loader {
            transform: translate3d(0, 0, 0);
        }
    }

    &.primary-button {
        background-color: $primary-background;
        color: white;

        &:hover {
            background-color: $primary-background-light;
        }
    }

    &.secondary-button {
        background-color: white;
        border: solid 1px $primary-background-lightest;
        color: $primary-background;
    }
}

.icon-button {
    $icon-size: 24px;
    $highlight-size: 42px;

    padding: $spacing-large/2;
    cursor: pointer;

    .icon-content {
        width: $icon-size;
        height: $icon-size;
        position: relative;
        transition: color $duration-fast linear;
        user-select: none;

        .highlight {
            display: none;
        }
    }

    &.with-highlight {
        .icon-content .highlight {
            background-color: $primary-background;
            border-radius: 50%;
            position: absolute;
            top: ($highlight-size - $icon-size) / -2;
            left: ($highlight-size - $icon-size) / -2;;
            width: $highlight-size;
            height: $highlight-size;
            z-index: -1;
            transform: scale(0.5, 0.5);
            opacity: 0;
            transition: transform $duration-fast linear, opacity $duration-fast linear, background-color $duration-fast linear;
            display: block;
        }

        &:hover {
            .icon-content {
                color: white;

                .highlight {
                    transform: scale(1, 1);
                    opacity: 1;
                }
            }
        }
    }

    &:active .highlight {
        background-color: $primary-background-lighter;
    }
}