@import 'variables.scss';
@import 'mixins.scss';

.list-page {
    margin-bottom: 50px;
}

.search-wrapper {
    position: relative;

    .search {
        padding-right: 50px !important;
    }

    i {
        position: absolute;
        right: $spacing;
        top: 8px;
        cursor: pointer;
    }
}

.password-list-item {
    $duration: $duration-fast;
    $height: 79px;

    width: 100%;
    background-color: $secondary-background-lightest;
    padding: $spacing;
    border-radius: $border-radius;
    transition: background-color $duration-fast linear;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    .domain, .username {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        width: 100%;
    }

    .domain {
        font-family: $primary-font;
        font-size: $font-size-larger;
    }

    .username {
        font-family: $secondary-font;
        font-size: $font-size-medium;
        margin-top: 5px;
        color: $tertiary-font-colour;
    }

    .actions {
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
        background-color: $secondary-background-lighter;
        padding: 0 $spacing;
        height: 100%;
        transform: translate3d(100%, 0, 0);
        transition: transform $duration-medium ease-in-out, opacity $duration-medium linear;
        will-change: transform, opacity;
        opacity: 0;

        .icon {
            margin-top: 18.5px;
        }
    }

    &:hover .actions {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.password-modal {
    .actions {
        position: absolute;
        top: $spacing-large/2;
        left: $spacing-large/2;

        .icon-wrapper {
            float: left;
            
            cursor: pointer;
            position: relative;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .domain {
        margin-top: 40px;
    }
}