@import 'variables.scss';
@import 'mixins.scss';

.search-wrapper {
    position: relative;

    .search {
        padding-right: 50px !important;
    }

    i {
        position: absolute;
        right: $spacing;
        top: 8px;
        cursor: pointer;
    }
}

.password-list-item {
    $duration: $duration-fast;

    width: 100%;
    background-color: $secondary-background-lightest;
    padding: $spacing;
    border-radius: $border-radius;
    transition: background-color $duration-fast linear;
    position: relative;
    cursor: pointer;

    &:hover {
        background-color: $secondary-background-lighter;
    }

    .domain, .username {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        width: 100%;
    }

    .domain {
        font-family: $primary-font;
        font-size: $font-size-larger;
    }

    .username {
        font-family: $secondary-font;
        font-size: $font-size-medium;
        margin-top: 5px;
        color: $tertiary-font-colour;
    }
}

.password-modal {
    .actions {
        position: absolute;
        top: $spacing-large/2;
        left: $spacing-large/2;

        .icon-wrapper {
            float: left;
            
            cursor: pointer;
            position: relative;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .domain {
        margin-top: 40px;
    }
}