@import 'variables.scss';
@import 'mixins.scss';

.icon {
    $icon-size: 24px;
    $highlight-size: 42px;

    padding: $spacing-large/2;

    .icon-content {
        width: $icon-size;
        height: $icon-size;
        position: relative;
        transition: color $duration-fast linear;
        user-select: none;

        .highlight {
            display: none;
        }
    }

    &.with-highlight {
        .icon-content .highlight {
            background-color: $primary-background;
            border-radius: 50%;
            position: absolute;
            top: ($highlight-size - $icon-size) / -2;
            left: ($highlight-size - $icon-size) / -2;;
            width: $highlight-size;
            height: $highlight-size;
            z-index: -1;
            transform: scale(0.5, 0.5);
            opacity: 0;
            transition: transform $duration-fast linear, opacity $duration-fast linear, background-color $duration-fast linear;
            display: block;
        }

        &:hover {
            .icon-content {
                color: white;

                .highlight {
                    transform: scale(1, 1);
                    opacity: 1;
                }
            }
        }
    }

    &:active .highlight {
        background-color: $primary-background-lighter;
    }
}