@import 'variables.scss';
@import 'mixins.scss';

.tooltip {
    &, .tooltip-children {
        display: inline-block;
    }
}

.tooltip-content-wrapper {
    $arrow-size: 10px;
    $narrow-size: $arrow-size*2/3;
    $colour: #333;

    position: absolute;
    z-index: 30;
    opacity: 0;
    transition: opacity 150ms linear;
    pointer-events: none;
    
    &.tooltip-content-wrapper-visible {
        opacity: 1;
        pointer-events: auto;
    }

    .tooltip-content {
        position: absolute;
        letter-spacing: 0.3px;
        background-color: $colour;
        border-radius: 4px;
        padding: $spacing/2;
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);

        &.small {
            width: auto;
        }

        &.large {
            width: 225px;
        }

        &.fill {
            width: auto;
            white-space: nowrap;
        }

        .tooltip-title, .tooltip-message {
            display: block;
            text-align: center;
            color: white;
            font-family: $primary-font;
            font-size: $font-size-smaller;
        }

        .tooltip-title {
            margin-bottom: 8px;
            display: none;
            font-weight: bold;

            &.tooltip-title-visible {
                display: block;
            }
        }
    }

    .tooltip-arrow-wrapper {
        transform: translateX(50%);

        .tooltip-arrow {
            position: absolute;
            border: solid $arrow-size transparent;
            width: 0;
            height: 0;
            transform: translateX(50%);
        }
    }

    &.bottom {
        .tooltip-arrow {
            border-left-width: $narrow-size;
            border-right-width: $narrow-size;
            border-bottom-color: $colour;
            transform: translateX(-50%);
        }

        .tooltip-content {
            top: $arrow-size*2;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &.bottom-left, &.bottom-right {
        .tooltip-arrow {
            border-left-width: $narrow-size;
            border-right-width: $narrow-size;
            border-bottom-color: $colour;
            transform: translateX(-50%);
        }

        .tooltip-content {
            top: $arrow-size*2;
            right: -15px;
        }
    }

    &.bottom-right .tooltip-content {
        left: -15px;
    }
}