@import 'variables.scss';
@import 'mixins.scss';

body {
    padding: 0;
    margin: 0;
    font-family: $secondary-font;
}

button {
    @include border-radius;
    @include centre-vertically(40px);
    background-color: $primary-background;
    color: white;
    border: none;
}

.container, .inner-container {
    &, & * {
        box-sizing: border-box;
    }
}

.inner-container {
    width: 100%;
}

.clearfix {
    clear: both;
    float: none;
}

.spacing-top {
    margin-top: $spacing;
}

.spacing-top-large {
    margin-top: $spacing-large;
}

.spacing-bottom {
    margin-bottom: $spacing;
}