// Fonts

$font-size-smaller: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-larger: 20px;
$font-size-largest: 22px;
$font-size-title: 24px;

//$primary-font: 'Slabo 27px', sans-serif;
$primary-font: 'Roboto Slab';
$secondary-font: 'Lato', sans-serif;


// Colours

$primary-background: #550080;
$primary-background-dark: darken($primary-background, 8%);
$primary-background-light: lighten($primary-background, 8%);
$primary-background-lighter: lighten($primary-background, 15%);
$primary-background-lightest: lighten($primary-background, 22%);

$secondary-background: #BBB;
$secondary-background-light: lighten($secondary-background, 8%);
$secondary-background-lighter: lighten($secondary-background, 18%);
$secondary-background-lightest: lighten($secondary-background, 22%);

$primary-font-colour: black;
$secondary-font-colour: #550080;
$tertiary-font-colour: #777;

$border-colour: #E0E0E0;

$error-red: #DD4B39;
$success-green: #4DAC12;


// Spacing

$spacing: 15px;
$spacing-large: 25px;

$border-radius: 5px;

// Transitions

$duration-slow: 500ms;
$duration-medium: 350ms;
$duration-fast: 200ms;